In [343]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import requests
import re
import pandas as pd
from pandas import json_normalize

import requests 
import json
import os
from dotenv import load_dotenv #conda install -c conda-forge python-dotenv

import time

In [344]:
df = pd.read_csv('2015.csv')

In [345]:
df.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [346]:
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [347]:
df.sample(20)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
70,Mauritius,Sub-Saharan Africa,71,5.477,0.07197,1.00761,0.98521,0.70950,0.56066,0.07521,0.37744,1.76145
28,France,Western Europe,29,6.575,0.03512,1.27778,1.26038,0.94579,0.55011,0.20646,0.12332,2.21126
16,Luxembourg,Western Europe,17,6.946,0.03499,1.56391,1.21963,0.91894,0.61583,0.37798,0.28034,1.96961
114,Zimbabwe,Sub-Saharan Africa,115,4.610,0.04290,0.27100,1.03276,0.33475,0.25861,0.08079,0.18987,2.44191
55,Lithuania,Central and Eastern Europe,56,5.833,0.03843,1.14723,1.25745,0.73128,0.21342,0.01031,0.02641,2.44649
45,Japan,Eastern Asia,46,5.987,0.03581,1.27074,1.25712,0.99111,0.49615,0.18060,0.10705,1.68435
115,Liberia,Sub-Saharan Africa,116,4.571,0.11068,0.07120,0.78968,0.34201,0.28531,0.06232,0.24362,2.77729
123,Mauritania,Sub-Saharan Africa,124,4.436,0.03947,0.45407,0.86908,0.35874,0.24232,0.17461,0.21900,2.11773
62,Libya,Middle East and Northern Africa,63,5.754,0.07832,1.13145,1.11862,0.70380,0.41668,0.11023,0.18295,2.09066
110,Ukraine,Central and Eastern Europe,111,4.681,0.04412,0.79907,1.20278,0.67390,0.25123,0.02961,0.15275,1.57140
118,Haiti,Latin America and Caribbean,119,4.518,0.07331,0.26673,0.74302,0.38847,0.24425,0.17175,0.46187,2.24173
88,Latvia,Central and Eastern Europe,89,5.098,0.04640,1.11312,1.09562,0.72437,0.29671,0.06332,0.18226,1.62215
125,Djibouti,Sub-Saharan Africa,126,4.369,0.08096,0.44025,0.59207,0.36291,0.46074,0.28105,0.18093,2.05125
104,Honduras,Latin America and Caribbean,105,4.788,0.05648,0.59532,0.95348,0.69510,0.40148,0.06825,0.23027,1.84408
137,Mali,Sub-Saharan Africa,138,3.995,0.05602,0.26074,1.03526,0.20583,0.38857,0.12352,0.18798,1.79293
144,Cambodia,Southeastern Asia,145,3.819,0.05069,0.46038,0.62736,0.61114,0.66246,0.07247,0.40359,0.98195
103,Hungary,Central and Eastern Europe,104,4.800,0.06107,1.12094,1.20215,0.75905,0.32112,0.02758,0.12800,1.24074
113,Ghana,Sub-Saharan Africa,114,4.633,0.04742,0.54558,0.67954,0.40132,0.42342,0.04355,0.23087,2.30919
139,Comoros,Sub-Saharan Africa,140,3.956,0.04797,0.23906,0.79273,0.36315,0.22917,0.19900,0.17441,1.95812
6,Netherlands,Western Europe,7,7.378,0.02799,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610,2.46570

In [348]:

import requests

url = "https://countriesnow.space/api/v0.1/countries/population/filter"

payload = "{\n\t\"year\": 2000,\n\t\"limit\": 10,\n\t\"lt\": 651348588,\n\t\"gt\": 6513485,\n\t\"orderBy\": \"name\",\n\t\"order\": \"dsc\"\n}"
headers = {}

response = requests.request("POST", url, headers=headers, data=payload)

print(response.text)

{"error":false,"msg":"filtered result","data":[{"country":"Tuvalu","code":"TUV","populationCounts":{"year":2018,"value":11508}},{"country":"Nauru","code":"NRU","populationCounts":{"year":2018,"value":12704}},{"country":"Palau","code":"PLW","populationCounts":{"year":2018,"value":17907}},{"country":"British Virgin Islands","code":"VGB","populationCounts":{"year":2018,"value":29802}},{"country":"Gibraltar","code":"GIB","populationCounts":{"year":2018,"value":33718}},{"country":"San Marino","code":"SMR","populationCounts":{"year":2018,"value":33785}},{"country":"St. Martin (French part)","code":"MAF","populationCounts":{"year":2018,"value":37264}},{"country":"Turks and Caicos Islands","code":"TCA","populationCounts":{"year":2018,"value":37665}},{"country":"Liechtenstein","code":"LIE","populationCounts":{"year":2018,"value":37910}},{"country":"Monaco","code":"MCO","populationCounts":{"year":2018,"value":38682}},{"country":"Sint Maarten (Dutch part)","code":"SXM","populationCounts":{"year":2018,"value":40654}},{"country":"Faroe Islands","code":"FRO","populationCounts":{"year":2018,"value":48497}},{"country":"St. Kitts and Nevis","code":"KNA","populationCounts":{"year":2018,"value":52441}},{"country":"American Samoa","code":"ASM","populationCounts":{"year":2018,"value":55465}},{"country":"Greenland","code":"GRL","populationCounts":{"year":2018,"value":56025}},{"country":"Northern Mariana Islands","code":"MNP","populationCounts":{"year":2018,"value":56882}},{"country":"Marshall Islands","code":"MHL","populationCounts":{"year":2018,"value":58413}},{"country":"Bermuda","code":"BMU","populationCounts":{"year":2018,"value":63973}},{"country":"Cayman Islands","code":"CYM","populationCounts":{"year":2018,"value":64174}},{"country":"Dominica","code":"DMA","populationCounts":{"year":2018,"value":71625}},{"country":"Andorra","code":"AND","populationCounts":{"year":2018,"value":77006}},{"country":"Isle of Man","code":"IMN","populationCounts":{"year":2018,"value":84077}},{"country":"Antigua and Barbuda","code":"ATG","populationCounts":{"year":2018,"value":96286}},{"country":"Seychelles","code":"SYC","populationCounts":{"year":2018,"value":96762}},{"country":"Tonga","code":"TON","populationCounts":{"year":2018,"value":103197}},{"country":"Aruba","code":"ABW","populationCounts":{"year":2018,"value":105845}},{"country":"Virgin Islands (U.S.)","code":"VIR","populationCounts":{"year":2018,"value":106977}},{"country":"St. Vincent and the Grenadines","code":"VCT","populationCounts":{"year":2018,"value":110210}},{"country":"Grenada","code":"GRD","populationCounts":{"year":2018,"value":111454}},{"country":"Micronesia, Fed. Sts.","code":"FSM","populationCounts":{"year":2018,"value":112640}},{"country":"Kiribati","code":"KIR","populationCounts":{"year":2018,"value":115847}},{"country":"Curacao","code":"CUW","populationCounts":{"year":2018,"value":159800}},{"country":"Guam","code":"GUM","populationCounts":{"year":2018,"value":165768}},{"country":"Channel Islands","code":"CHI","populationCounts":{"year":2018,"value":170499}},{"country":"St. Lucia","code":"LCA","populationCounts":{"year":2018,"value":181889}},{"country":"Samoa","code":"WSM","populationCounts":{"year":2018,"value":196130}},{"country":"Sao Tome and Principe","code":"STP","populationCounts":{"year":2018,"value":211028}},{"country":"French Polynesia","code":"PYF","populationCounts":{"year":2018,"value":277679}},{"country":"New Caledonia","code":"NCL","populationCounts":{"year":2018,"value":284060}},{"country":"Barbados","code":"BRB","populationCounts":{"year":2018,"value":286641}},{"country":"Vanuatu","code":"VUT","populationCounts":{"year":2018,"value":292680}},{"country":"Iceland","code":"ISL","populationCounts":{"year":2018,"value":352721}},{"country":"Belize","code":"BLZ","populationCounts":{"year":2018,"value":383071}},{"country":"Bahamas, The","code":"BHS","populationCounts":{"year":2018,"value":385640}},{"country":"Brunei Darussalam","code":"BRN","populationCounts":{"year":2018,"value":428962}},{"country":"Malta","code":"MLT","populationCounts":{"year":2018,"value":484630}},{"country":"Maldives","code":"MDV","populationCounts":{"year":2018,"value":515696}},{"country":"Cabo Verde","code":"CPV","populationCounts":{"year":2018,"value":543767}},{"country":"Suriname","code":"SUR","populationCounts":{"year":2018,"value":575991}},{"country":"Luxembourg","code":"LUX","populationCounts":{"year":2018,"value":607950}},{"country":"Montenegro","code":"MNE","populationCounts":{"year":2018,"value":622227}},{"country":"Macao SAR, China","code":"MAC","populationCounts":{"year":2018,"value":631636}},{"country":"Solomon Islands","code":"SLB","populationCounts":{"year":2018,"value":652858}},{"country":"Bhutan","code":"BTN","populationCounts":{"year":2018,"value":754394}},{"country":"Guyana","code":"GUY","populationCounts":{"year":2018,"value":779004}},{"country":"Comoros","code":"COM","populationCounts":{"year":2018,"value":832322}},{"country":"Fiji","code":"FJI","populationCounts":{"year":2018,"value":883483}},{"country":"Djibouti","code":"DJI","populationCounts":{"year":2018,"value":958920}},{"country":"Eswatini","code":"SWZ","populationCounts":{"year":2018,"value":1136191}},{"country":"Cyprus","code":"CYP","populationCounts":{"year":2018,"value":1189265}},{"country":"Mauritius","code":"MUS","populationCounts":{"year":2018,"value":1265303}},{"country":"Timor-Leste","code":"TLS","populationCounts":{"year":2018,"value":1267972}},{"country":"Equatorial Guinea","code":"GNQ","populationCounts":{"year":2018,"value":1308974}},{"country":"Estonia","code":"EST","populationCounts":{"year":2018,"value":1321977}},{"country":"Trinidad and Tobago","code":"TTO","populationCounts":{"year":2018,"value":1389858}},{"country":"Bahrain","code":"BHR","populationCounts":{"year":2018,"value":1569439}},{"country":"Kosovo","code":"XKX","populationCounts":{"year":2018,"value":1845300}},{"country":"Guinea-Bissau","code":"GNB","populationCounts":{"year":2018,"value":1874309}},{"country":"Latvia","code":"LVA","populationCounts":{"year":2018,"value":1927174}},{"country":"Slovenia","code":"SVN","populationCounts":{"year":2018,"value":2073894}},{"country":"North Macedonia","code":"MKD","populationCounts":{"year":2018,"value":2082958}},{"country":"Lesotho","code":"LSO","populationCounts":{"year":2018,"value":2108132}},{"country":"Gabon","code":"GAB","populationCounts":{"year":2018,"value":2119275}},{"country":"Botswana","code":"BWA","populationCounts":{"year":2018,"value":2254126}},{"country":"Gambia, The","code":"GMB","populationCounts":{"year":2018,"value":2280102}},{"country":"Namibia","code":"NAM","populationCounts":{"year":2018,"value":2448255}},{"country":"Pacific island small states","code":"PSS","populationCounts":{"year":2018,"value":2457367}},{"country":"Moldova","code":"MDA","populationCounts":{"year":2018,"value":2706049}},{"country":"Qatar","code":"QAT","populationCounts":{"year":2018,"value":2781677}},{"country":"Lithuania","code":"LTU","populationCounts":{"year":2018,"value":2801543}},{"country":"Albania","code":"ALB","populationCounts":{"year":2018,"value":2866376}},{"country":"Jamaica","code":"JAM","populationCounts":{"year":2018,"value":2934855}},{"country":"Armenia","code":"ARM","populationCounts":{"year":2018,"value":2951776}},{"country":"Mongolia","code":"MNG","populationCounts":{"year":2018,"value":3170208}},{"country":"Puerto Rico","code":"PRI","populationCounts":{"year":2018,"value":3195153}},{"country":"Bosnia and Herzegovina","code":"BIH","populationCounts":{"year":2018,"value":3323929}},{"country":"Uruguay","code":"URY","populationCounts":{"year":2018,"value":3449299}},{"country":"Georgia","code":"GEO","populationCounts":{"year":2018,"value":3726549}},{"country":"Croatia","code":"HRV","populationCounts":{"year":2018,"value":4087843}},{"country":"Kuwait","code":"KWT","populationCounts":{"year":2018,"value":4137309}},{"country":"Panama","code":"PAN","populationCounts":{"year":2018,"value":4176873}},{"country":"Mauritania","code":"MRT","populationCounts":{"year":2018,"value":4403319}},{"country":"West Bank and Gaza","code":"PSE","populationCounts":{"year":2018,"value":4569087}},{"country":"Central African Republic","code":"CAF","populationCounts":{"year":2018,"value":4666377}},{"country":"Liberia","code":"LBR","populationCounts":{"year":2018,"value":4818977}},{"country":"Oman","code":"OMN","populationCounts":{"year":2018,"value":4829483}},{"country":"New Zealand","code":"NZL","populationCounts":{"year":2018,"value":4841000}},{"country":"Ireland","code":"IRL","populationCounts":{"year":2018,"value":4867309}},{"country":"Costa Rica","code":"CRI","populationCounts":{"year":2018,"value":4999441}},{"country":"Congo, Rep.","code":"COG","populationCounts":{"year":2018,"value":5244363}},{"country":"Norway","code":"NOR","populationCounts":{"year":2018,"value":5311916}},{"country":"Slovak Republic","code":"SVK","populationCounts":{"year":2018,"value":5446771}},{"country":"Finland","code":"FIN","populationCounts":{"year":2018,"value":5515525}},{"country":"Singapore","code":"SGP","populationCounts":{"year":2018,"value":5638676}},{"country":"Denmark","code":"DNK","populationCounts":{"year":2018,"value":5793636}},{"country":"Turkmenistan","code":"TKM","populationCounts":{"year":2018,"value":5850908}},{"country":"Kyrgyz Republic","code":"KGZ","populationCounts":{"year":2018,"value":6322800}},{"country":"El Salvador","code":"SLV","populationCounts":{"year":2018,"value":6420744}},{"country":"Nicaragua","code":"NIC","populationCounts":{"year":2018,"value":6465513}},{"country":"Libya","code":"LBY","populationCounts":{"year":2018,"value":6678567}},{"country":"Lebanon","code":"LBN","populationCounts":{"year":2018,"value":6848925}},{"country":"Paraguay","code":"PRY","populationCounts":{"year":2018,"value":6956071}},{"country":"Serbia","code":"SRB","populationCounts":{"year":2018,"value":6982604}},{"country":"Bulgaria","code":"BGR","populationCounts":{"year":2018,"value":7025037}},{"country":"Lao PDR","code":"LAO","populationCounts":{"year":2018,"value":7061507}},{"country":"Caribbean small states","code":"CSS","populationCounts":{"year":2018,"value":7358965}},{"country":"Hong Kong SAR, China","code":"HKG","populationCounts":{"year":2018,"value":7451000}},{"country":"Sierra Leone","code":"SLE","populationCounts":{"year":2018,"value":7650154}},{"country":"Togo","code":"TGO","populationCounts":{"year":2018,"value":7889094}},{"country":"Switzerland","code":"CHE","populationCounts":{"year":2018,"value":8513227}},{"country":"Papua New Guinea","code":"PNG","populationCounts":{"year":2018,"value":8606316}},{"country":"Austria","code":"AUT","populationCounts":{"year":2018,"value":8840521}},{"country":"Israel","code":"ISR","populationCounts":{"year":2018,"value":8882800}},{"country":"Tajikistan","code":"TJK","populationCounts":{"year":2018,"value":9100837}},{"country":"Belarus","code":"BLR","populationCounts":{"year":2018,"value":9483499}},{"country":"Honduras","code":"HND","populationCounts":{"year":2018,"value":9587522}},{"country":"United Arab Emirates","code":"ARE","populationCounts":{"year":2018,"value":9630959}},{"country":"Hungary","code":"HUN","populationCounts":{"year":2018,"value":9775564}},{"country":"Azerbaijan","code":"AZE","populationCounts":{"year":2018,"value":9939800}},{"country":"Jordan","code":"JOR","populationCounts":{"year":2018,"value":9956011}},{"country":"Sweden","code":"SWE","populationCounts":{"year":2018,"value":10175214}},{"country":"Portugal","code":"PRT","populationCounts":{"year":2018,"value":10283822}},{"country":"Dominican Republic","code":"DOM","populationCounts":{"year":2018,"value":10627165}},{"country":"Czech Republic","code":"CZE","populationCounts":{"year":2018,"value":10629928}},{"country":"Greece","code":"GRC","populationCounts":{"year":2018,"value":10731726}},{"country":"South Sudan","code":"SSD","populationCounts":{"year":2018,"value":10975920}},{"country":"Haiti","code":"HTI","populationCounts":{"year":2018,"value":11123176}},{"country":"Burundi","code":"BDI","populationCounts":{"year":2018,"value":11175378}},{"country":"Cuba","code":"CUB","populationCounts":{"year":2018,"value":11338138}},{"country":"Bolivia","code":"BOL","populationCounts":{"year":2018,"value":11353142}},{"country":"Belgium","code":"BEL","populationCounts":{"year":2018,"value":11433256}},{"country":"Benin","code":"BEN","populationCounts":{"year":2018,"value":11485048}},{"country":"Tunisia","code":"TUN","populationCounts":{"year":2018,"value":11565204}},{"country":"Rwanda","code":"RWA","populationCounts":{"year":2018,"value":12301939}},{"country":"Guinea","code":"GIN","populationCounts":{"year":2018,"value":12414318}},{"country":"Zimbabwe","code":"ZWE","populationCounts":{"year":2018,"value":14439018}},{"country":"Somalia","code":"SOM","populationCounts":{"year":2018,"value":15008154}},{"country":"Chad","code":"TCD","populationCounts":{"year":2018,"value":15477751}},{"country":"Senegal","code":"SEN","populationCounts":{"year":2018,"value":15854360}},{"country":"Cambodia","code":"KHM","populationCounts":{"year":2018,"value":16249798}},{"country":"Syrian Arab Republic","code":"SYR","populationCounts":{"year":2018,"value":16906283}},{"country":"Ecuador","code":"ECU","populationCounts":{"year":2018,"value":17084357}},{"country":"Netherlands","code":"NLD","populationCounts":{"year":2018,"value":17231624}},{"country":"Guatemala","code":"GTM","populationCounts":{"year":2018,"value":17247807}},{"country":"Zambia","code":"ZMB","populationCounts":{"year":2018,"value":17351822}},{"country":"Malawi","code":"MWI","populationCounts":{"year":2018,"value":18143315}},{"country":"Kazakhstan","code":"KAZ","populationCounts":{"year":2018,"value":18272430}},{"country":"Chile","code":"CHL","populationCounts":{"year":2018,"value":18729160}},{"country":"Mali","code":"MLI","populationCounts":{"year":2018,"value":19077690}},{"country":"Romania","code":"ROU","populationCounts":{"year":2018,"value":19466145}},{"country":"Burkina Faso","code":"BFA","populationCounts":{"year":2018,"value":19751535}},{"country":"Sri Lanka","code":"LKA","populationCounts":{"year":2018,"value":21670000}},{"country":"Niger","code":"NER","populationCounts":{"year":2018,"value":22442948}},{"country":"Australia","code":"AUS","populationCounts":{"year":2018,"value":24982688}},{"country":"Cote d'Ivoire","code":"CIV","populationCounts":{"year":2018,"value":25069229}},{"country":"Cameroon","code":"CMR","populationCounts":{"year":2018,"value":25216237}},{"country":"Korea, Dem. People’s Rep.","code":"PRK","populationCounts":{"year":2018,"value":25549819}},{"country":"Madagascar","code":"MDG","populationCounts":{"year":2018,"value":26262368}},{"country":"Nepal","code":"NPL","populationCounts":{"year":2018,"value":28087871}},{"country":"Yemen, Rep.","code":"YEM","populationCounts":{"year":2018,"value":28498687}},{"country":"Venezuela, RB","code":"VEN","populationCounts":{"year":2018,"value":28870195}},{"country":"Mozambique","code":"MOZ","populationCounts":{"year":2018,"value":29495962}},{"country":"Ghana","code":"GHA","populationCounts":{"year":2018,"value":29767108}},{"country":"Other small states","code":"OSS","populationCounts":{"year":2018,"value":30758989}},{"country":"Angola","code":"AGO","populationCounts":{"year":2018,"value":30809762}},{"country":"Malaysia","code":"MYS","populationCounts":{"year":2018,"value":31528585}},{"country":"Peru","code":"PER","populationCounts":{"year":2018,"value":31989256}},{"country":"Uzbekistan","code":"UZB","populationCounts":{"year":2018,"value":32955400}},{"country":"Saudi Arabia","code":"SAU","populationCounts":{"year":2018,"value":33699947}},{"country":"Morocco","code":"MAR","populationCounts":{"year":2018,"value":36029138}},{"country":"Canada","code":"CAN","populationCounts":{"year":2018,"value":37057765}},{"country":"Afghanistan","code":"AFG","populationCounts":{"year":2018,"value":37172386}},{"country":"Poland","code":"POL","populationCounts":{"year":2018,"value":37974750}},{"country":"Iraq","code":"IRQ","populationCounts":{"year":2018,"value":38433600}},{"country":"Small states","code":"SST","populationCounts":{"year":2018,"value":40575321}},{"country":"Sudan","code":"SDN","populationCounts":{"year":2018,"value":41801533}},{"country":"Algeria","code":"DZA","populationCounts":{"year":2018,"value":42228429}},{"country":"Uganda","code":"UGA","populationCounts":{"year":2018,"value":42723139}},{"country":"Argentina","code":"ARG","populationCounts":{"year":2018,"value":44494502}},{"country":"Ukraine","code":"UKR","populationCounts":{"year":2018,"value":44622516}},{"country":"Spain","code":"ESP","populationCounts":{"year":2018,"value":46796540}},{"country":"Colombia","code":"COL","populationCounts":{"year":2018,"value":49648685}},{"country":"Kenya","code":"KEN","populationCounts":{"year":2018,"value":51393010}},{"country":"Korea, Rep.","code":"KOR","populationCounts":{"year":2018,"value":51606633}},{"country":"Myanmar","code":"MMR","populationCounts":{"year":2018,"value":53708395}},{"country":"Tanzania","code":"TZA","populationCounts":{"year":2018,"value":56318348}},{"country":"South Africa","code":"ZAF","populationCounts":{"year":2018,"value":57779622}},{"country":"Italy","code":"ITA","populationCounts":{"year":2018,"value":60421760}},{"country":"United Kingdom","code":"GBR","populationCounts":{"year":2018,"value":66460344}},{"country":"France","code":"FRA","populationCounts":{"year":2018,"value":66977107}},{"country":"Thailand","code":"THA","populationCounts":{"year":2018,"value":69428524}},{"country":"Iran, Islamic Rep.","code":"IRN","populationCounts":{"year":2018,"value":81800269}},{"country":"Turkey","code":"TUR","populationCounts":{"year":2018,"value":82319724}},{"country":"Germany","code":"DEU","populationCounts":{"year":2018,"value":82905782}},{"country":"Congo, Dem. Rep.","code":"COD","populationCounts":{"year":2018,"value":84068091}},{"country":"Vietnam","code":"VNM","populationCounts":{"year":2018,"value":95540395}},{"country":"Egypt, Arab Rep.","code":"EGY","populationCounts":{"year":2018,"value":98423595}},{"country":"Central Europe and the Baltics","code":"CEB","populationCounts":{"year":2018,"value":102511922}},{"country":"Philippines","code":"PHL","populationCounts":{"year":2018,"value":106651922}},{"country":"Ethiopia","code":"ETH","populationCounts":{"year":2018,"value":109224559}},{"country":"Mexico","code":"MEX","populationCounts":{"year":2018,"value":126190788}},{"country":"Japan","code":"JPN","populationCounts":{"year":2018,"value":126529100}},{"country":"Russian Federation","code":"RUS","populationCounts":{"year":2018,"value":144478050}},{"country":"Bangladesh","code":"BGD","populationCounts":{"year":2018,"value":161356039}},{"country":"Nigeria","code":"NGA","populationCounts":{"year":2018,"value":195874740}},{"country":"Brazil","code":"BRA","populationCounts":{"year":2018,"value":209469333}},{"country":"Pakistan","code":"PAK","populationCounts":{"year":2018,"value":212215030}},{"country":"Indonesia","code":"IDN","populationCounts":{"year":2018,"value":267663435}},{"country":"United States","code":"USA","populationCounts":{"year":2018,"value":326687501}},{"country":"Euro area","code":"EMU","populationCounts":{"year":2018,"value":341783171}},{"country":"North America","code":"NAC","populationCounts":{"year":2018,"value":364290258}},{"country":"Middle East & North Africa (IDA & IBRD countries)","code":"TMN","populationCounts":{"year":2018,"value":378327628}},{"country":"Middle East & North Africa (excluding high income)","code":"MNA","populationCounts":{"year":2018,"value":382896715}},{"country":"Europe & Central Asia (excluding high income)","code":"ECA","populationCounts":{"year":2018,"value":417797257}},{"country":"Arab World","code":"ARB","populationCounts":{"year":2018,"value":419790588}},{"country":"European Union","code":"EUU","populationCounts":{"year":2018,"value":446786293}},{"country":"Middle East & North Africa","code":"MEA","populationCounts":{"year":2018,"value":448912859}},{"country":"Europe & Central Asia 

In [349]:
response.content

b'{"error":false,"msg":"filtered result","data":[{"country":"Tuvalu","code":"TUV","populationCounts":{"year":2018,"value":11508}},{"country":"Nauru","code":"NRU","populationCounts":{"year":2018,"value":12704}},{"country":"Palau","code":"PLW","populationCounts":{"year":2018,"value":17907}},{"country":"British Virgin Islands","code":"VGB","populationCounts":{"year":2018,"value":29802}},{"country":"Gibraltar","code":"GIB","populationCounts":{"year":2018,"value":33718}},{"country":"San Marino","code":"SMR","populationCounts":{"year":2018,"value":33785}},{"country":"St. Martin (French part)","code":"MAF","populationCounts":{"year":2018,"value":37264}},{"country":"Turks and Caicos Islands","code":"TCA","populationCounts":{"year":2018,"value":37665}},{"country":"Liechtenstein","code":"LIE","populationCounts":{"year":2018,"value":37910}},{"country":"Monaco","code":"MCO","populationCounts":{"year":2018,"value":38682}},{"country":"Sint Maarten (Dutch part)","code":"SXM","populationCounts":{"year":2018,"value":40654}},{"country":"Faroe Islands","code":"FRO","populationCounts":{"year":2018,"value":48497}},{"country":"St. Kitts and Nevis","code":"KNA","populationCounts":{"year":2018,"value":52441}},{"country":"American Samoa","code":"ASM","populationCounts":{"year":2018,"value":55465}},{"country":"Greenland","code":"GRL","populationCounts":{"year":2018,"value":56025}},{"country":"Northern Mariana Islands","code":"MNP","populationCounts":{"year":2018,"value":56882}},{"country":"Marshall Islands","code":"MHL","populationCounts":{"year":2018,"value":58413}},{"country":"Bermuda","code":"BMU","populationCounts":{"year":2018,"value":63973}},{"country":"Cayman Islands","code":"CYM","populationCounts":{"year":2018,"value":64174}},{"country":"Dominica","code":"DMA","populationCounts":{"year":2018,"value":71625}},{"country":"Andorra","code":"AND","populationCounts":{"year":2018,"value":77006}},{"country":"Isle of Man","code":"IMN","populationCounts":{"year":2018,"value":84077}},{"country":"Antigua and Barbuda","code":"ATG","populationCounts":{"year":2018,"value":96286}},{"country":"Seychelles","code":"SYC","populationCounts":{"year":2018,"value":96762}},{"country":"Tonga","code":"TON","populationCounts":{"year":2018,"value":103197}},{"country":"Aruba","code":"ABW","populationCounts":{"year":2018,"value":105845}},{"country":"Virgin Islands (U.S.)","code":"VIR","populationCounts":{"year":2018,"value":106977}},{"country":"St. Vincent and the Grenadines","code":"VCT","populationCounts":{"year":2018,"value":110210}},{"country":"Grenada","code":"GRD","populationCounts":{"year":2018,"value":111454}},{"country":"Micronesia, Fed. Sts.","code":"FSM","populationCounts":{"year":2018,"value":112640}},{"country":"Kiribati","code":"KIR","populationCounts":{"year":2018,"value":115847}},{"country":"Curacao","code":"CUW","populationCounts":{"year":2018,"value":159800}},{"country":"Guam","code":"GUM","populationCounts":{"year":2018,"value":165768}},{"country":"Channel Islands","code":"CHI","populationCounts":{"year":2018,"value":170499}},{"country":"St. Lucia","code":"LCA","populationCounts":{"year":2018,"value":181889}},{"country":"Samoa","code":"WSM","populationCounts":{"year":2018,"value":196130}},{"country":"Sao Tome and Principe","code":"STP","populationCounts":{"year":2018,"value":211028}},{"country":"French Polynesia","code":"PYF","populationCounts":{"year":2018,"value":277679}},{"country":"New Caledonia","code":"NCL","populationCounts":{"year":2018,"value":284060}},{"country":"Barbados","code":"BRB","populationCounts":{"year":2018,"value":286641}},{"country":"Vanuatu","code":"VUT","populationCounts":{"year":2018,"value":292680}},{"country":"Iceland","code":"ISL","populationCounts":{"year":2018,"value":352721}},{"country":"Belize","code":"BLZ","populationCounts":{"year":2018,"value":383071}},{"country":"Bahamas, The","code":"BHS","populationCounts":{"year":2018,"value":385640}},{"country":"Brunei Darussalam","code":"BRN","populationCounts":{"year":2018,"value":428962}},{"country":"Malta","code":"MLT","populationCounts":{"year":2018,"value":484630}},{"country":"Maldives","code":"MDV","populationCounts":{"year":2018,"value":515696}},{"country":"Cabo Verde","code":"CPV","populationCounts":{"year":2018,"value":543767}},{"country":"Suriname","code":"SUR","populationCounts":{"year":2018,"value":575991}},{"country":"Luxembourg","code":"LUX","populationCounts":{"year":2018,"value":607950}},{"country":"Montenegro","code":"MNE","populationCounts":{"year":2018,"value":622227}},{"country":"Macao SAR, China","code":"MAC","populationCounts":{"year":2018,"value":631636}},{"country":"Solomon Islands","code":"SLB","populationCounts":{"year":2018,"value":652858}},{"country":"Bhutan","code":"BTN","populationCounts":{"year":2018,"value":754394}},{"country":"Guyana","code":"GUY","populationCounts":{"year":2018,"value":779004}},{"country":"Comoros","code":"COM","populationCounts":{"year":2018,"value":832322}},{"country":"Fiji","code":"FJI","populationCounts":{"year":2018,"value":883483}},{"country":"Djibouti","code":"DJI","populationCounts":{"year":2018,"value":958920}},{"country":"Eswatini","code":"SWZ","populationCounts":{"year":2018,"value":1136191}},{"country":"Cyprus","code":"CYP","populationCounts":{"year":2018,"value":1189265}},{"country":"Mauritius","code":"MUS","populationCounts":{"year":2018,"value":1265303}},{"country":"Timor-Leste","code":"TLS","populationCounts":{"year":2018,"value":1267972}},{"country":"Equatorial Guinea","code":"GNQ","populationCounts":{"year":2018,"value":1308974}},{"country":"Estonia","code":"EST","populationCounts":{"year":2018,"value":1321977}},{"country":"Trinidad and Tobago","code":"TTO","populationCounts":{"year":2018,"value":1389858}},{"country":"Bahrain","code":"BHR","populationCounts":{"year":2018,"value":1569439}},{"country":"Kosovo","code":"XKX","populationCounts":{"year":2018,"value":1845300}},{"country":"Guinea-Bissau","code":"GNB","populationCounts":{"year":2018,"value":1874309}},{"country":"Latvia","code":"LVA","populationCounts":{"year":2018,"value":1927174}},{"country":"Slovenia","code":"SVN","populationCounts":{"year":2018,"value":2073894}},{"country":"North Macedonia","code":"MKD","populationCounts":{"year":2018,"value":2082958}},{"country":"Lesotho","code":"LSO","populationCounts":{"year":2018,"value":2108132}},{"country":"Gabon","code":"GAB","populationCounts":{"year":2018,"value":2119275}},{"country":"Botswana","code":"BWA","populationCounts":{"year":2018,"value":2254126}},{"country":"Gambia, The","code":"GMB","populationCounts":{"year":2018,"value":2280102}},{"country":"Namibia","code":"NAM","populationCounts":{"year":2018,"value":2448255}},{"country":"Pacific island small states","code":"PSS","populationCounts":{"year":2018,"value":2457367}},{"country":"Moldova","code":"MDA","populationCounts":{"year":2018,"value":2706049}},{"country":"Qatar","code":"QAT","populationCounts":{"year":2018,"value":2781677}},{"country":"Lithuania","code":"LTU","populationCounts":{"year":2018,"value":2801543}},{"country":"Albania","code":"ALB","populationCounts":{"year":2018,"value":2866376}},{"country":"Jamaica","code":"JAM","populationCounts":{"year":2018,"value":2934855}},{"country":"Armenia","code":"ARM","populationCounts":{"year":2018,"value":2951776}},{"country":"Mongolia","code":"MNG","populationCounts":{"year":2018,"value":3170208}},{"country":"Puerto Rico","code":"PRI","populationCounts":{"year":2018,"value":3195153}},{"country":"Bosnia and Herzegovina","code":"BIH","populationCounts":{"year":2018,"value":3323929}},{"country":"Uruguay","code":"URY","populationCounts":{"year":2018,"value":3449299}},{"country":"Georgia","code":"GEO","populationCounts":{"year":2018,"value":3726549}},{"country":"Croatia","code":"HRV","populationCounts":{"year":2018,"value":4087843}},{"country":"Kuwait","code":"KWT","populationCounts":{"year":2018,"value":4137309}},{"country":"Panama","code":"PAN","populationCounts":{"year":2018,"value":4176873}},{"country":"Mauritania","code":"MRT","populationCounts":{"year":2018,"value":4403319}},{"country":"West Bank and Gaza","code":"PSE","populationCounts":{"year":2018,"value":4569087}},{"country":"Central African Republic","code":"CAF","populationCounts":{"year":2018,"value":4666377}},{"country":"Liberia","code":"LBR","populationCounts":{"year":2018,"value":4818977}},{"country":"Oman","code":"OMN","populationCounts":{"year":2018,"value":4829483}},{"country":"New Zealand","code":"NZL","populationCounts":{"year":2018,"value":4841000}},{"country":"Ireland","code":"IRL","populationCounts":{"year":2018,"value":4867309}},{"country":"Costa Rica","code":"CRI","populationCounts":{"year":2018,"value":4999441}},{"country":"Congo, Rep.","code":"COG","populationCounts":{"year":2018,"value":5244363}},{"country":"Norway","code":"NOR","populationCounts":{"year":2018,"value":5311916}},{"country":"Slovak Republic","code":"SVK","populationCounts":{"year":2018,"value":5446771}},{"country":"Finland","code":"FIN","populationCounts":{"year":2018,"value":5515525}},{"country":"Singapore","code":"SGP","populationCounts":{"year":2018,"value":5638676}},{"country":"Denmark","code":"DNK","populationCounts":{"year":2018,"value":5793636}},{"country":"Turkmenistan","code":"TKM","populationCounts":{"year":2018,"value":5850908}},{"country":"Kyrgyz Republic","code":"KGZ","populationCounts":{"year":2018,"value":6322800}},{"country":"El Salvador","code":"SLV","populationCounts":{"year":2018,"value":6420744}},{"country":"Nicaragua","code":"NIC","populationCounts":{"year":2018,"value":6465513}},{"country":"Libya","code":"LBY","populationCounts":{"year":2018,"value":6678567}},{"country":"Lebanon","code":"LBN","populationCounts":{"year":2018,"value":6848925}},{"country":"Paraguay","code":"PRY","populationCounts":{"year":2018,"value":6956071}},{"country":"Serbia","code":"SRB","populationCounts":{"year":2018,"value":6982604}},{"country":"Bulgaria","code":"BGR","populationCounts":{"year":2018,"value":7025037}},{"country":"Lao PDR","code":"LAO","populationCounts":{"year":2018,"value":7061507}},{"country":"Caribbean small states","code":"CSS","populationCounts":{"year":2018,"value":7358965}},{"country":"Hong Kong SAR, China","code":"HKG","populationCounts":{"year":2018,"value":7451000}},{"country":"Sierra Leone","code":"SLE","populationCounts":{"year":2018,"value":7650154}},{"country":"Togo","code":"TGO","populationCounts":{"year":2018,"value":7889094}},{"country":"Switzerland","code":"CHE","populationCounts":{"year":2018,"value":8513227}},{"country":"Papua New Guinea","code":"PNG","populationCounts":{"year":2018,"value":8606316}},{"country":"Austria","code":"AUT","populationCounts":{"year":2018,"value":8840521}},{"country":"Israel","code":"ISR","populationCounts":{"year":2018,"value":8882800}},{"country":"Tajikistan","code":"TJK","populationCounts":{"year":2018,"value":9100837}},{"country":"Belarus","code":"BLR","populationCounts":{"year":2018,"value":9483499}},{"country":"Honduras","code":"HND","populationCounts":{"year":2018,"value":9587522}},{"country":"United Arab Emirates","code":"ARE","populationCounts":{"year":2018,"value":9630959}},{"country":"Hungary","code":"HUN","populationCounts":{"year":2018,"value":9775564}},{"country":"Azerbaijan","code":"AZE","populationCounts":{"year":2018,"value":9939800}},{"country":"Jordan","code":"JOR","populationCounts":{"year":2018,"value":9956011}},{"country":"Sweden","code":"SWE","populationCounts":{"year":2018,"value":10175214}},{"country":"Portugal","code":"PRT","populationCounts":{"year":2018,"value":10283822}},{"country":"Dominican Republic","code":"DOM","populationCounts":{"year":2018,"value":10627165}},{"country":"Czech Republic","code":"CZE","populationCounts":{"year":2018,"value":10629928}},{"country":"Greece","code":"GRC","populationCounts":{"year":2018,"value":10731726}},{"country":"South Sudan","code":"SSD","populationCounts":{"year":2018,"value":10975920}},{"country":"Haiti","code":"HTI","populationCounts":{"year":2018,"value":11123176}},{"country":"Burundi","code":"BDI","populationCounts":{"year":2018,"value":11175378}},{"country":"Cuba","code":"CUB","populationCounts":{"year":2018,"value":11338138}},{"country":"Bolivia","code":"BOL","populationCounts":{"year":2018,"value":11353142}},{"country":"Belgium","code":"BEL","populationCounts":{"year":2018,"value":11433256}},{"country":"Benin","code":"BEN","populationCounts":{"year":2018,"value":11485048}},{"country":"Tunisia","code":"TUN","populationCounts":{"year":2018,"value":11565204}},{"country":"Rwanda","code":"RWA","populationCounts":{"year":2018,"value":12301939}},{"country":"Guinea","code":"GIN","populationCounts":{"year":2018,"value":12414318}},{"country":"Zimbabwe","code":"ZWE","populationCounts":{"year":2018,"value":14439018}},{"country":"Somalia","code":"SOM","populationCounts":{"year":2018,"value":15008154}},{"country":"Chad","code":"TCD","populationCounts":{"year":2018,"value":15477751}},{"country":"Senegal","code":"SEN","populationCounts":{"year":2018,"value":15854360}},{"country":"Cambodia","code":"KHM","populationCounts":{"year":2018,"value":16249798}},{"country":"Syrian Arab Republic","code":"SYR","populationCounts":{"year":2018,"value":16906283}},{"country":"Ecuador","code":"ECU","populationCounts":{"year":2018,"value":17084357}},{"country":"Netherlands","code":"NLD","populationCounts":{"year":2018,"value":17231624}},{"country":"Guatemala","code":"GTM","populationCounts":{"year":2018,"value":17247807}},{"country":"Zambia","code":"ZMB","populationCounts":{"year":2018,"value":17351822}},{"country":"Malawi","code":"MWI","populationCounts":{"year":2018,"value":18143315}},{"country":"Kazakhstan","code":"KAZ","populationCounts":{"year":2018,"value":18272430}},{"country":"Chile","code":"CHL","populationCounts":{"year":2018,"value":18729160}},{"country":"Mali","code":"MLI","populationCounts":{"year":2018,"value":19077690}},{"country":"Romania","code":"ROU","populationCounts":{"year":2018,"value":19466145}},{"country":"Burkina Faso","code":"BFA","populationCounts":{"year":2018,"value":19751535}},{"country":"Sri Lanka","code":"LKA","populationCounts":{"year":2018,"value":21670000}},{"country":"Niger","code":"NER","populationCounts":{"year":2018,"value":22442948}},{"country":"Australia","code":"AUS","populationCounts":{"year":2018,"value":24982688}},{"country":"Cote d\'Ivoire","code":"CIV","populationCounts":{"year":2018,"value":25069229}},{"country":"Cameroon","code":"CMR","populationCounts":{"year":2018,"value":25216237}},{"country":"Korea, Dem. People\xe2\x80\x99s Rep.","code":"PRK","populationCounts":{"year":2018,"value":25549819}},{"country":"Madagascar","code":"MDG","populationCounts":{"year":2018,"value":26262368}},{"country":"Nepal","code":"NPL","populationCounts":{"year":2018,"value":28087871}},{"country":"Yemen, Rep.","code":"YEM","populationCounts":{"year":2018,"value":28498687}},{"country":"Venezuela, RB","code":"VEN","populationCounts":{"year":2018,"value":28870195}},{"country":"Mozambique","code":"MOZ","populationCounts":{"year":2018,"value":29495962}},{"country":"Ghana","code":"GHA","populationCounts":{"year":2018,"value":29767108}},{"country":"Other small states","code":"OSS","populationCounts":{"year":2018,"value":30758989}},{"country":"Angola","code":"AGO","populationCounts":{"year":2018,"value":30809762}},{"country":"Malaysia","code":"MYS","populationCounts":{"year":2018,"value":31528585}},{"country":"Peru","code":"PER","populationCounts":{"year":2018,"value":31989256}},{"country":"Uzbekistan","code":"UZB","populationCounts":{"year":2018,"value":32955400}},{"country":"Saudi Arabia","code":"SAU","populationCounts":{"year":2018,"value":33699947}},{"country":"Morocco","code":"MAR","populationCounts":{"year":2018,"value":36029138}},{"country":"Canada","code":"CAN","populationCounts":{"year":2018,"value":37057765}},{"country":"Afghanistan","code":"AFG","populationCounts":{"year":2018,"value":37172386}},{"country":"Poland","code":"POL","populationCounts":{"year":2018,"value":37974750}},{"country":"Iraq","code":"IRQ","populationCounts":{"year":2018,"value":38433600}},{"country":"Small states","code":"SST","populationCounts":{"year":2018,"value":40575321}},{"country":"Sudan","code":"SDN","populationCounts":{"year":2018,"value":41801533}},{"country":"Algeria","code":"DZA","populationCounts":{"year":2018,"value":42228429}},{"country":"Uganda","code":"UGA","populationCounts":{"year":2018,"value":42723139}},{"country":"Argentina","code":"ARG","populationCounts":{"year":2018,"value":44494502}},{"country":"Ukraine","code":"UKR","populationCounts":{"year":2018,"value":44622516}},{"country":"Spain","code":"ESP","populationCounts":{"year":2018,"value":46796540}},{"country":"Colombia","code":"COL","populationCounts":{"year":2018,"value":49648685}},{"country":"Kenya","code":"KEN","populationCounts":{"year":2018,"value":51393010}},{"country":"Korea, Rep.","code":"KOR","populationCounts":{"year":2018,"value":51606633}},{"country":"Myanmar","code":"MMR","populationCounts":{"year":2018,"value":53708395}},{"country":"Tanzania","code":"TZA","populationCounts":{"year":2018,"value":56318348}},{"country":"South Africa","code":"ZAF","populationCounts":{"year":2018,"value":57779622}},{"country":"Italy","code":"ITA","populationCounts":{"year":2018,"value":60421760}},{"country":"United Kingdom","code":"GBR","populationCounts":{"year":2018,"value":66460344}},{"country":"France","code":"FRA","populationCounts":{"year":2018,"value":66977107}},{"country":"Thailand","code":"THA","populationCounts":{"year":2018,"value":69428524}},{"country":"Iran, Islamic Rep.","code":"IRN","populationCounts":{"year":2018,"value":81800269}},{"country":"Turkey","code":"TUR","populationCounts":{"year":2018,"value":82319724}},{"country":"Germany","code":"DEU","populationCounts":{"year":2018,"value":82905782}},{"country":"Congo, Dem. Rep.","code":"COD","populationCounts":{"year":2018,"value":84068091}},{"country":"Vietnam","code":"VNM","populationCounts":{"year":2018,"value":95540395}},{"country":"Egypt, Arab Rep.","code":"EGY","populationCounts":{"year":2018,"value":98423595}},{"country":"Central Europe and the Baltics","code":"CEB","populationCounts":{"year":2018,"value":102511922}},{"country":"Philippines","code":"PHL","populationCounts":{"year":2018,"value":106651922}},{"country":"Ethiopia","code":"ETH","populationCounts":{"year":2018,"value":109224559}},{"country":"Mexico","code":"MEX","populationCounts":{"year":2018,"value":126190788}},{"country":"Japan","code":"JPN","populationCounts":{"year":2018,"value":126529100}},{"country":"Russian Federation","code":"RUS","populationCounts":{"year":2018,"value":144478050}},{"country":"Bangladesh","code":"BGD","populationCounts":{"year":2018,"value":161356039}},{"country":"Nigeria","code":"NGA","populationCounts":{"year":2018,"value":195874740}},{"country":"Brazil","code":"BRA","populationCounts":{"year":2018,"value":209469333}},{"country":"Pakistan","code":"PAK","populationCounts":{"year":2018,"value":212215030}},{"country":"Indonesia","code":"IDN","populationCounts":{"year":2018,"value":267663435}},{"country":"United States","code":"USA","populationCounts":{"year":2018,"value":326687501}},{"country":"Euro area","code":"EMU","populationCounts":{"year":2018,"value":341783171}},{"country":"North America","code":"NAC","populationCounts":{"year":2018,"value":364290258}},{"country":"Middle East & North Africa (IDA & IBRD countries)","code":"TMN","populationCounts":{"year":2018,"value":378327628}},{"country":"Middle East & North Africa (excluding high income)","code":"MNA","populationCounts":{"year":2018,"value":382896715}},{"country":"Europe & Central Asia (excluding high income)","code":"ECA","populationCounts":{"year":2018,"value":417797257}},{"country":"Arab World","code":"ARB","populationCounts":{"year":2018,"value":419790588}},{"country":"European Union","code":"EUU","populationCounts":{"year":2018,"value":446786293}},{"country":"Middle East & North Africa","code":"MEA","populationCounts":{"year":2018,"value":448912859}},{"country":"Europe &

In [350]:
pop = response.json()
pop

{'error': False,
 'msg': 'filtered result',
 'data': [{'country': 'Tuvalu',
   'code': 'TUV',
   'populationCounts': {'year': 2018, 'value': 11508}},
  {'country': 'Nauru',
   'code': 'NRU',
   'populationCounts': {'year': 2018, 'value': 12704}},
  {'country': 'Palau',
   'code': 'PLW',
   'populationCounts': {'year': 2018, 'value': 17907}},
  {'country': 'British Virgin Islands',
   'code': 'VGB',
   'populationCounts': {'year': 2018, 'value': 29802}},
  {'country': 'Gibraltar',
   'code': 'GIB',
   'populationCounts': {'year': 2018, 'value': 33718}},
  {'country': 'San Marino',
   'code': 'SMR',
   'populationCounts': {'year': 2018, 'value': 33785}},
  {'country': 'St. Martin (French part)',
   'code': 'MAF',
   'populationCounts': {'year': 2018, 'value': 37264}},
  {'country': 'Turks and Caicos Islands',
   'code': 'TCA',
   'populationCounts': {'year': 2018, 'value': 37665}},
  {'country': 'Liechtenstein',
   'code': 'LIE',
   'populationCounts': {'year': 2018, 'value': 37910}},
  {'country': 'Monaco',
   'code': 'MCO',
   'populationCounts': {'year': 2018, 'value': 38682}},
  {'country': 'Sint Maarten (Dutch part)',
   'code': 'SXM',
   'populationCounts': {'year': 2018, 'value': 40654}},
  {'country': 'Faroe Islands',
   'code': 'FRO',
   'populationCounts': {'year': 2018, 'value': 48497}},
  {'country': 'St. Kitts and Nevis',
   'code': 'KNA',
   'populationCounts': {'year': 2018, 'value': 52441}},
  {'country': 'American Samoa',
   'code': 'ASM',
   'populationCounts': {'year': 2018, 'value': 55465}},
  {'country': 'Greenland',
   'code': 'GRL',
   'populationCounts': {'year': 2018, 'value': 56025}},
  {'country': 'Northern Mariana Islands',
   'code': 'MNP',
   'populationCounts': {'year': 2018, 'value': 56882}},
  {'country': 'Marshall Islands',
   'code': 'MHL',
   'populationCounts': {'year': 2018, 'value': 58413}},
  {'country': 'Bermuda',
   'code': 'BMU',
   'populationCounts': {'year': 2018, 'value': 63973}},
  {'country': 'Cayman Islands',
   'code': 'CYM',
   'populationCounts': {'year': 2018, 'value': 64174}},
  {'country': 'Dominica',
   'code': 'DMA',
   'populationCounts': {'year': 2018, 'value': 71625}},
  {'country': 'Andorra',
   'code': 'AND',
   'populationCounts': {'year': 2018, 'value': 77006}},
  {'country': 'Isle of Man',
   'code': 'IMN',
   'populationCounts': {'year': 2018, 'value': 84077}},
  {'country': 'Antigua and Barbuda',
   'code': 'ATG',
   'populationCounts': {'year': 2018, 'value': 96286}},
  {'country': 'Seychelles',
   'code': 'SYC',
   'populationCounts': {'year': 2018, 'value': 96762}},
  {'country': 'Tonga',
   'code': 'TON',
   'populationCounts': {'year': 2018, 'value': 103197}},
  {'country': 'Aruba',
   'code': 'ABW',
   'populationCounts': {'year': 2018, 'value': 105845}},
  {'country': 'Virgin Islands (U.S.)',
   'code': 'VIR',
   'populationCounts': {'year': 2018, 'value': 106977}},
  {'country': 'St. Vincent and the Grenadines',
   'code': 'VCT',
   'populationCounts': {'year': 2018, 'value': 110210}},
  {'country': 'Grenada',
   'code': 'GRD',
   'populationCounts': {'year': 2018, 'value': 111454}},
  {'country': 'Micronesia, Fed. Sts.',
   'code': 'FSM',
   'populationCounts': {'year': 2018, 'value': 112640}},
  {'country': 'Kiribati',
   'code': 'KIR',
   'populationCounts': {'year': 2018, 'value': 115847}},
  {'country': 'Curacao',
   'code': 'CUW',
   'populationCounts': {'year': 2018, 'value': 159800}},
  {'country': 'Guam',
   'code': 'GUM',
   'populationCounts': {'year': 2018, 'value': 165768}},
  {'country': 'Channel Islands',
   'code': 'CHI',
   'populationCounts': {'year': 2018, 'value': 170499}},
  {'country': 'St. Lucia',
   'code': 'LCA',
   'populationCounts': {'year': 2018, 'value': 181889}},
  {'country': 'Samoa',
   'code': 'WSM',
   'populationCounts': {'year': 2018, 'value': 196130}},
  {'country': 'Sao Tome and Principe',
   'code': 'STP',
   'populationCounts': {'year': 2018, 'value': 211028}},
  {'country': 'French Polynesia',
   'code': 'PYF',
   'populationCounts': {'year': 2018, 'value': 277679}},
  {'country': 'New Caledonia',
   'code': 'NCL',
   'populationCounts': {'year': 2018, 'value': 284060}},
  {'country': 'Barbados',
   'code': 'BRB',
   'populationCounts': {'year': 2018, 'value': 286641}},
  {'country': 'Vanuatu',
   'code': 'VUT',
   'populationCounts': {'year': 2018, 'value': 292680}},
  {'country': 'Iceland',
   'code': 'ISL',
   'populationCounts': {'year': 2018, 'value': 352721}},
  {'country': 'Belize',
   'code': 'BLZ',
   'populationCounts': {'year': 2018, 'value': 383071}},
  {'country': 'Bahamas, The',
   'code': 'BHS',
   'populationCounts': {'year': 2018, 'value': 385640}},
  {'country': 'Brunei Darussalam',
   'code': 'BRN',
   'populationCounts': {'year': 2018, 'value': 428962}},
  {'country': 'Malta',
   'code': 'MLT',
   'populationCounts': {'year': 2018, 'value': 484630}},
  {'country': 'Maldives',
   'code': 'MDV',
   'populationCounts': {'year': 2018, 'value': 515696}},
  {'country': 'Cabo Verde',
   'code': 'CPV',
   'populationCounts': {'year': 2018, 'value': 543767}},
  {'country': 'Suriname',
   'code': 'SUR',
   'populationCounts': {'year': 2018, 'value': 575991}},
  {'country': 'Luxembourg',
   'code': 'LUX',
   'populationCounts': {'year': 2018, 'value': 607950}},
  {'country': 'Montenegro',
   'code': 'MNE',
   'populationCounts': {'year': 2018, 'value': 622227}},
  {'country': 'Macao SAR, China',
   'code': 'MAC',
   'populationCounts': {'year': 2018, 'value': 631636}},
  {'country': 'Solomon Islands',
   'code': 'SLB',
   'populationCounts': {'year': 2018, 'value': 652858}},
  {'country': 'Bhutan',
   'code': 'BTN',
   'populationCounts': {'year': 2018, 'value': 754394}},
  {'country': 'Guyana',
   'code': 'GUY',
   'populationCounts': {'year': 2018, 'value': 779004}},
  {'country': 'Comoros',
   'code': 'COM',
   'populationCounts': {'year': 2018, 'value': 832322}},
  {'country': 'Fiji',
   'code': 'FJI',
   'populationCounts': {'year': 2018, 'value': 883483}},
  {'country': 'Djibouti',
   'code': 'DJI',
   'populationCounts': {'year': 2018, 'value': 958920}},
  {'country': 'Eswatini',
   'code': 'SWZ',
   'populationCounts': {'year': 2018, 'value': 1136191}},
  {'country': 'Cyprus',
   'code': 'CYP',
   'populationCounts': {'year': 2018, 'value': 1189265}},
  {'country': 'Mauritius',
   'code': 'MUS',
   'populationCounts': {'year': 2018, 'value': 1265303}},
  {'country': 'Timor-Leste',
   'code': 'TLS',
   'populationCounts': {'year': 2018, 'value': 1267972}},
  {'country': 'Equatorial Guinea',
   'code': 'GNQ',
   'populationCounts': {'year': 2018, 'value': 1308974}},
  {'country': 'Estonia',
   'code': 'EST',
   'populationCounts': {'year': 2018, 'value': 1321977}},
  {'country': 'Trinidad and Tobago',
   'code': 'TTO',
   'populationCounts': {'year': 2018, 'value': 1389858}},
  {'country': 'Bahrain',
   'code': 'BHR',
   'populationCounts': {'year': 2018, 'value': 1569439}},
  {'country': 'Kosovo',
   'code': 'XKX',
   'populationCounts': {'year': 2018, 'value': 1845300}},
  {'country': 'Guinea-Bissau',
   'code': 'GNB',
   'populationCounts': {'year': 2018, 'value': 1874309}},
  {'country': 'Latvia',
   'code': 'LVA',
   'populationCounts': {'year': 2018, 'value': 1927174}},
  {'country': 'Slovenia',
   'code': 'SVN',
   'populationCounts': {'year': 2018, 'value': 2073894}},
  {'country': 'North Macedonia',
   'code': 'MKD',
   'populationCounts': {'year': 2018, 'value': 2082958}},
  {'country': 'Lesotho',
   'code': 'LSO',
   'populationCounts': {'year': 2018, 'value': 2108132}},
  {'country': 'Gabon',
   'code': 'GAB',
   'populationCounts': {'year': 2018, 'value': 2119275}},
  {'country': 'Botswana',
   'code': 'BWA',
   'populationCounts': {'year': 2018, 'value': 2254126}},
  {'country': 'Gambia, The',
   'code': 'GMB',
   'populationCounts': {'year': 2018, 'value': 2280102}},
  {'country': 'Namibia',
   'code': 'NAM',
   'populationCounts': {'year': 2018, 'value': 2448255}},
  {'country': 'Pacific island small states',
   'code': 'PSS',
   'populationCounts': {'year': 2018, 'value': 2457367}},
  {'country': 'Moldova',
   'code': 'MDA',
   'populationCounts': {'year': 2018, 'value': 2706049}},
  {'country': 'Qatar',
   'code': 'QAT',
   'populationCounts': {'year': 2018, 'value': 2781677}},
  {'country': 'Lithuania',
   'code': 'LTU',
   'populationCounts': {'year': 2018, 'value': 2801543}},
  {'country': 'Albania',
   'code': 'ALB',
   'populationCounts': {'year': 2018, 'value': 2866376}},
  {'country': 'Jamaica',
   'code': 'JAM',
   'populationCounts': {'year': 2018, 'value': 2934855}},
  {'country': 'Armenia',
   'code': 'ARM',
   'populationCounts': {'year': 2018, 'value': 2951776}},
  {'country': 'Mongolia',
   'code': 'MNG',
   'populationCounts': {'year': 2018, 'value': 3170208}},
  {'country': 'Puerto Rico',
   'code': 'PRI',
   'populationCounts': {'year': 2018, 'value': 3195153}},
  {'country': 'Bosnia and Herzegovina',
   'code': 'BIH',
   'populationCounts': {'year': 2018, 'value': 3323929}},
  {'country': 'Uruguay',
   'code': 'URY',
   'populationCounts': {'year': 2018, 'value': 3449299}},
  {'country': 'Georgia',
   'code': 'GEO',
   'populationCounts': {'year': 2018, 'value': 3726549}},
  {'country': 'Croatia',
   'code': 'HRV',
   'populationCounts': {'year': 2018, 'value': 4087843}},
  {'country': 'Kuwait',
   'code': 'KWT',
   'populationCounts': {'year': 2018, 'value': 4137309}},
  {'country': 'Panama',
   'code': 'PAN',
   'populationCounts': {'year': 2018, 'value': 4176873}},
  {'country': 'Mauritania',
   'code': 'MRT',
   'populationCounts': {'year': 2018, 'value': 4403319}},
  {'country': 'West Bank and Gaza',
   'code': 'PSE',
   'populationCounts': {'year': 2018, 'value': 4569087}},
  {'country': 'Central African Republic',
   'code': 'CAF',
   'populationCounts': {'year': 2018, 'value': 4666377}},
  {'country': 'Liberia',
   'code': 'LBR',
   'populationCounts': {'year': 2018, 'value': 4818977}},
  {'country': 'Oman',
   'code': 'OMN',
   'populationCounts': {'year': 2018, 'value': 4829483}},
  {'country': 'New Zealand',
   'code': 'NZL',
   'populationCounts': {'year': 2018, 'value': 4841000}},
  {'country': 'Ireland',
   'code': 'IRL',
   'populationCounts': {'year': 2018, 'value': 4867309}},
  {'country': 'Costa Rica',
   'code': 'CRI',
   'populationCounts': {'year': 2018, 'value': 4999441}},
  {'country': 'Congo, Rep.',
   'code': 'COG',
   'populationCounts': {'year': 2018, 'value': 5244363}},
  {'country': 'Norway',
   'code': 'NOR',
   'populationCounts': {'year': 2018, 'value': 5311916}},
  {'country': 'Slovak Republic',
   'code': 'SVK',
   'populationCounts': {'year': 2018, 'value': 5446771}},
  {'country': 'Finland',
   'code': 'FIN',
   'populationCounts': {'year': 2018, 'value': 5515525}},
  {'country': 'Singapore',
   'code': 'SGP',
   'populationCounts': {'year': 2018, 'value': 5638676}},
  {'country': 'Denmark',
   'code': 'DNK',
   'populationCounts': {'year': 2018, 'value': 5793636}},
  {'country': 'Turkmenistan',
   'code': 'TKM',
   'populationCounts': {'year': 2018, 'value': 5850908}},
  {'country': 'Kyrgyz Republic',
   'code': 'KGZ',
   'populationCounts': {'year': 2018, 'value': 6322800}},
  {'country': 'El Salvador',
   'code': 'SLV',
   'populationCounts': {'year': 2018, 'value': 6420744}},
  {'country': 'Nicaragua',
   'code': 'NIC',
   'populationCounts': {'year': 2018, 'value': 6465513}},
  {'country': 'Libya',
   'code': 'LBY',
   'populationCounts': {'year': 2018, 'value': 6678567}},
  {'country': 'Lebanon',
   'code': 'LBN',
   'populationCounts': {'year': 2018, 'value': 6848925}},
  {'country': 'Paraguay',
   'code': 'PRY',
   'populationCounts': {'year': 2018, 'value': 6956071}},
  {'country': 'Serbia',
   'code': 'SRB',
   'populationCounts': {'year': 2018, 'value': 6982604}},
  {'country': 'Bulgaria',
   'code': 'BGR',
   'populationCounts': {'year': 2018, 'value': 7025037}},
  {'country': 'Lao PDR',
   'code': 'LAO',
   'populationCounts': {'year': 2018, 'value': 7061507}},
  {'country': 'Caribbean small states',
   'code': 'CSS',
   'populationCounts': {'year': 2018, 'value': 7358965}},
  {'country': 'Hong Kong SAR, China',
   'code': 'HKG',
   'populationCounts': {'year': 2018, 'value': 7451000}},
  {'country': 'Sierra Leone',
   'code': 'SLE',
   'populationCounts': {'year': 2018, 'value': 7650154}},
  {'country': 'Togo',
   'code': 'TGO',
   'populationCounts': {'year': 2018, 'value': 7889094}},
  {'country': 'Switzerland',
   'code': 'CHE',
   'populationCounts': {'year': 2018, 'value': 8513227}},
  {'country': 'Papua New Guinea',
   'code': 'PNG',
   'populationCounts': {'year': 2018, 'value': 8606316}},
  {'country': 'Austria',
   'code': 'AUT',
   'populationCounts': {'year': 2018, 'value': 8840521}},
  {'country': 'Israel',
   'code': 'ISR',
   'populationCounts': {'year': 2018, 'value': 8882800}},
  {'country': 'Tajikistan',
   'code': 'TJK',
   'populationCounts': {'year': 2018, 'value': 9100837}},
  {'country': 'Belarus',
   'code': 'BLR',
   'populationCounts': {'year': 2018, 'value': 9483499}},
  {'country': 'Honduras',
   'code': 'HND',
   'populationCounts': {'year': 2018, 'value': 9587522}},
  {'country': 'United Arab Emirates',
   'code': 'ARE',
   'populationCounts': {'year': 2018, 'value': 9630959}},
  {'country': 'Hungary',
   'code': 'HUN',
   'populationCounts': {'year': 2018, 'value': 9775564}},
  {'country': 'Azerbaijan',
   'code': 'AZE',
   'populationCounts': {'year': 2018, 'value': 9939800}},
  {'country': 'Jordan',
   'code': 'JOR',
   'populationCounts': {'year': 2018, 'value': 9956011}},
  {'country': 'Sweden',
   'code': 'SWE',
   'populationCounts': {'year': 2018, 'value': 10175214}},
  {'country': 'Portugal',
   'code': 'PRT',
   'populationCounts': {'year': 2018, 'value': 10283822}},
  {'country': 'Dominican Republic',
   'code': 'DOM',
   'populationCounts': {'year': 2018, 'value': 10627165}},
  {'country': 'Czech Republic',
   'code': 'CZE',
   'populationCounts': {'year': 2018, 'value': 10629928}},
  {'country': 'Greece',
   'code': 'GRC',
   'populationCounts': {'year': 2018, 'value': 10731726}},
  {'country': 'South Sudan',
   'code': 'SSD',
   'populationCounts': {'year': 2018, 'value': 10975920}},
  {'country': 'Haiti',
   'code': 'HTI',
   'populationCounts': {'year': 2018, 'value': 11123176}},
  {'country': 'Burundi',
   'code': 'BDI',
   'populationCounts': {'year': 2018, 'value': 11175378}},
  {'country': 'Cuba',
   'code': 'CUB',
   'populationCounts': {'year': 2018, 'value': 11338138}},
  {'country': 'Bolivia',
   'code': 'BOL',
   'populationCounts': {'year': 2018, 'value': 11353142}},
  {'country': 'Belgium',
   'code': 'BEL',
   'populationCounts': {'year': 2018, 'value': 11433256}},
  {'country': 'Benin',
   'code': 'BEN',
   'populationCounts': {'year': 2018, 'value': 11485048}},
  {'country': 'Tunisia',
   'code': 'TUN',
   'populationCounts': {'year': 2018, 'value': 11565204}},
  {'country': 'Rwanda',
   'code': 'RWA',
   'populationCounts': {'year': 2018, 'value': 12301939}},
  {'country': 'Guinea',
   'code': 'GIN',
   'populationCounts': {'year': 2018, 'value': 12414318}},
  {'country': 'Zimbabwe',
   'code': 'ZWE',
   'populationCounts': {'year': 2018, 'value': 14439018}},
  {'country': 'Somalia',
   'code': 'SOM',
   'populationCounts': {'year': 2018, 'value': 15008154}},
  {'country': 'Chad',
   'code': 'TCD',
   'populationCounts': {'year': 2018, 'value': 15477751}},
  {'country': 'Senegal',
   'code': 'SEN',
   'populationCounts': {'year': 2018, 'value': 15854360}},
  {'country': 'Cambodia',
   'code': 'KHM',
   'populationCounts': {'year': 2018, 'value': 16249798}},
  {'country': 'Syrian Arab Republic',
   'code': 'SYR',
   'populationCounts': {'year': 2018, 'value': 16906283}},
  {'country': 'Ecuador',
   'code': 'ECU',
   'populationCounts': {'year': 2018, 'value': 17084357}},
  {'country': 'Netherlands',
   'code': 'NLD',
   'populationCounts': {'year': 2018, 'value': 17231624}},
  {'country': 'Guatemala',
   'code': 'GTM',
   'populationCounts': {'year': 2018, 'value': 17247807}},
  {'country': 'Zambia',
   'code': 'ZMB',
   'populationCounts': {'year': 2018, 'value': 17351822}},
  {'country': 'Malawi',
   'code': 'MWI',
   'populationCounts': {'year': 2018, 'value': 18143315}},
  {'country': 'Kazakhstan',
   'code': 'KAZ',
   'populationCounts': {'year': 2018, 'value': 18272430}},
  {'country': 'Chile',
   'code': 'CHL',
   'populationCounts': {'year': 2018, 'value': 18729160}},
  {'country': 'Mali',
   'code': 'MLI',
   'populationCounts': {'year': 2018, 'value': 19077690}},
  {'country': 'Romania',
   'code': 'ROU',
   'populationCounts': {'year': 2018, 'value': 19466145}},
  {'country': 'Burkina Faso',
   'code': 'BFA',
   'populationCounts': {'year': 2018, 'value': 19751535}},
  {'country': 'Sri Lanka',
   'code': 'LKA',
   'populationCounts': {'year': 2018, 'value': 21670000}},
  {'country': 'Niger',
   'code': 'NER',
   'populationCounts': {'year': 2018, 'value': 22442948}},
  {'country': 'Australia',
   'code': 'AUS',
   'populationCounts': {'year': 2018, 'value': 24982688}},
  {'country': "Cote d'Ivoire",
   'code': 'CIV',
   'populationCounts': {'year': 2018, 'value': 25069229}},
  {'country': 'Cameroon',
   'code': 'CMR',
   'populationCounts': {'year': 2018, 'value': 25216237}},
  {'country': 'Korea, Dem. People’s Rep.',
   'code': 'PRK',
   'populationCounts': {'year': 2018, 'value': 25549819}},
  {'country': 'Madagascar',
   'code': 'MDG',
   'populationCounts': {'year': 2018, 'value': 26262368}},
  {'country': 'Nepal',
   'code': 'NPL',
   'populationCounts': {'year': 2018, 'value': 28087871}},
  {'country': 'Yemen, Rep.',
   'code': 'YEM',
   'populationCounts': {'year': 2018, 'value': 28498687}},
  {'country': 'Venezuela, RB',
   'code': 'VEN',
   'populationCounts': {'year': 2018, 'value': 28870195}},
  {'country': 'Mozambique',
   'code': 'MOZ',
   'populationCounts': {'year': 2018, 'value': 29495962}},
  {'country': 'Ghana',
   'code': 'GHA',
   'populationCounts': {'year': 2018, 'value': 29767108}},
  {'country': 'Other small states',
   'code': 'OSS',
   'populationCounts': {'year': 2018, 'value': 30758989}},
  {'country': 'Angola',
   'code': 'AGO',
   'populationCounts': {'year': 2018, 'value': 30809762}},
  {'country': 'Malaysia',
   'code': 'MYS',
   'populationCounts': {'year': 2018, 'value': 31528585}},
  {'country': 'Peru',
   'code': 'PER',
   'populationCounts': {'year': 2018, 'value': 31989256}},
  {'country': 'Uzbekistan',
   'code': 'UZB',
   'populationCounts': {'year': 2018, 'value': 32955400}},
  {'country': 'Saudi Arabia',
   'code': 'SAU',
   'populationCounts': {'year': 2018, 'value': 33699947}},
  {'country': 'Morocco',
   'code': 'MAR',
   'populationCounts': {'year': 2018, 'value': 36029138}},
  {'country': 'Canada',
   'code': 'CAN',
   'populationCounts': {'year': 2018, 'value': 37057765}},
  {'country': 'Afghanistan',
   'code': 'AFG',
   'populationCounts': {'year': 2018, 'value': 37172386}},
  {'country': 'Poland',
   'code': 'POL',
   'populationCounts': {'year': 2018, 'value': 37974750}},
  {'country': 'Iraq',
   'code': 'IRQ',
   'populationCounts': {'year': 2018, 'value': 38433600}},
  {'country': 'Small states',
   'code': 'SST',
   'populationCounts': {'year': 2018, 'value': 40575321}},
  {'country': 'Sudan',
   'code': 'SDN',
   'populationCounts': {'year': 2018, 'value': 41801533}},
  {'country': 'Algeria',
   'code': 'DZA',
   'populationCounts': {'year': 2018, 'value': 42228429}},
  {'country': 'Uganda',
   'code': 'UGA',
   'populationCounts': {'year': 2018, 'value': 42723139}},
  {'country': 'Argentina',
   'code': 'ARG',
   'populationCounts': {'year': 2018, 'value': 44494502}},
  {'country': 'Ukraine',
   'code': 'UKR',
   'populationCounts': {'year': 2018, 'value': 44622516}},
  {'country': 'Spain',
   'code': 'ESP',
   'populationCounts': {'year': 2018, 'value': 46796540}},
  {'country': 'Colombia',
   'code': 'COL',
   'populationCounts': {'year': 2018, 'value': 49648685}},

In [351]:
df1 = pd.DataFrame(pop)

In [352]:
df1

     error              msg                                               data
0    False  filtered result  {'country': 'Tuvalu', 'code': 'TUV', 'populati...
1    False  filtered result  {'country': 'Nauru', 'code': 'NRU', 'populatio...
2    False  filtered result  {'country': 'Palau', 'code': 'PLW', 'populatio...
3    False  filtered result  {'country': 'British Virgin Islands', 'code': ...
4    False  filtered result  {'country': 'Gibraltar', 'code': 'GIB', 'popul...
..     ...              ...                                                ...
257  False  filtered result  {'country': 'IBRD only', 'code': 'IBD', 'popul...
258  False  filtered result  {'country': 'Middle income', 'code': 'MIC', 'p...
259  False  filtered result  {'country': 'Low & middle income', 'code': 'LM...
260  False  filtered result  {'country': 'IDA & IBRD total', 'code': 'IBT',...
261  False  filtered result  {'country': 'World', 'code': 'WLD', 'populatio...

[262 rows x 3 columns]

In [353]:
df2=pd.DataFrame(pop['data'])

In [354]:
df_values=df2['populationCounts'].apply(pd.Series)

In [355]:
df_values

     year       value
0    2018       11508
1    2018       12704
2    2018       17907
3    2018       29802
4    2018       33718
..    ...         ...
257  2018  4772284113
258  2018  5678540888
259  2018  6383958209
260  2018  6412522234
261  2018  7594270356

[262 rows x 2 columns]

In [356]:
df2['Pop']=df_values['value']

In [357]:
Data_w_pop=df2

In [358]:
Data_w_pop

,country,code,populationCounts,Pop
0,Tuvalu,TUV,"{'year': 2018, 'value': 11508}",11508
1,Nauru,NRU,"{'year': 2018, 'value': 12704}",12704
2,Palau,PLW,"{'year': 2018, 'value': 17907}",17907
3,British Virgin Islands,VGB,"{'year': 2018, 'value': 29802}",29802
4,Gibraltar,GIB,"{'year': 2018, 'value': 33718}",33718
...,...,...,...,...
257,IBRD only,IBD,"{'year': 2018, 'value': 4772284113}",4772284113
258,Middle income,MIC,"{'year': 2018, 'value': 5678540888}",5678540888
259,Low & middle income,LMY,"{'year': 2018, 'value': 6383958209}",6383958209
260,IDA & IBRD total,IBT,"{'year': 2018, 'value': 6412522234}",6412522234
261,World,WLD,"{'year': 2018, 'value': 7594270356}",7594270356

In [457]:
def dropcolumn(df,column):
    df.drop(f"{column}", axis = 1, inplace = True)
    
    return df

In [360]:
dropcolumn(Data_w_pop,'code')

                    country                     populationCounts         Pop
0                    Tuvalu       {'year': 2018, 'value': 11508}       11508
1                     Nauru       {'year': 2018, 'value': 12704}       12704
2                     Palau       {'year': 2018, 'value': 17907}       17907
3    British Virgin Islands       {'year': 2018, 'value': 29802}       29802
4                 Gibraltar       {'year': 2018, 'value': 33718}       33718
..                      ...                                  ...         ...
257               IBRD only  {'year': 2018, 'value': 4772284113}  4772284113
258           Middle income  {'year': 2018, 'value': 5678540888}  5678540888
259     Low & middle income  {'year': 2018, 'value': 6383958209}  6383958209
260        IDA & IBRD total  {'year': 2018, 'value': 6412522234}  6412522234
261                   World  {'year': 2018, 'value': 7594270356}  7594270356

[262 rows x 3 columns]

In [361]:
dropcolumn(Data_w_pop,'populationCounts')

                    country         Pop
0                    Tuvalu       11508
1                     Nauru       12704
2                     Palau       17907
3    British Virgin Islands       29802
4                 Gibraltar       33718
..                      ...         ...
257               IBRD only  4772284113
258           Middle income  5678540888
259     Low & middle income  6383958209
260        IDA & IBRD total  6412522234
261                   World  7594270356

[262 rows x 2 columns]

In [379]:
Data=Data_w_pop.sort_values('country')

In [380]:
Data

                country         Pop
181         Afghanistan    37172386
80              Albania     2866376
186             Algeria    42228429
13       American Samoa       55465
20              Andorra       77006
..                  ...         ...
92   West Bank and Gaza     4569087
261               World  7594270356
169         Yemen, Rep.    28498687
154              Zambia    17351822
145            Zimbabwe    14439018

[262 rows x 2 columns]

In [375]:
Data

                country         Pop
181         Afghanistan    37172386
80              Albania     2866376
186             Algeria    42228429
13       American Samoa       55465
20              Andorra       77006
..                  ...         ...
92   West Bank and Gaza     4569087
261               World  7594270356
169         Yemen, Rep.    28498687
154              Zambia    17351822
145            Zimbabwe    14439018

[262 rows x 2 columns]

In [385]:
df['Test']=Data['country']

In [398]:
df.shape

(158, 14)

In [447]:
def droprow(df,row):
    df.drop(index=row, axis=1, inplace=True) 
    
    return df

In [ ]:
df.drop(index='Row Name', axis=1, inplace=True)

In [452]:
df.merge(Data, left_on='Country', right_on='country')

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,new_country,Test,country,Pop
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Tuvalu,Tuvalu,Switzerland,8513227
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Nauru,Nauru,Iceland,352721
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Palau,Palau,Denmark,5793636
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,British Virgin Islands,British Virgin Islands,Norway,5311916
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Gibraltar,Gibraltar,Canada,37057765
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,Afghanistan,Southern Asia,153,3.575,0.03084,0.31982,0.30285,0.30335,0.23414,0.09719,0.36510,1.95210,Netherlands,Netherlands,Afghanistan,37172386
134,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Guatemala,Guatemala,Rwanda,12301939
135,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Zambia,Zambia,Benin,11485048
136,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Kazakhstan,Kazakhstan,Burundi,11175378
137,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Chile,Chile,Togo,7889094

In [454]:
df.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual', 'new_country', 'Test'],
      dtype='object')

In [458]:
dropcolumn(df,'new_country')

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Test
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Tuvalu
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Nauru
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Palau
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,British Virgin Islands
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Gibraltar
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Guatemala
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Zambia
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Malawi
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Kazakhstan
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Chile

In [459]:
dropcolumn(df,'Test')

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726